{
  "name": "@natsuki/module-template",
  "version": "0.2.1",
  "description": "A template module for quickly developing a new module for the bot.",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/NatsukiBot/module-template.git"
  },
  "author": "Tanner Goins",
  "license": "GPL-3.0",
  "bugs": {
    "url": "https://github.com/NatsukiBot/module-template/issues"
  },
  "homepage": "https://github.com/NatsukiBot/module-template#readme",
  "devDependencies": {
    "@types/node": "^9.6.1",
    "eslint": "^4.19.1",
    "standard": "^11.0.1",
    "tslint": "^5.9.1",
    "tslint-config-standard": "^7.0.0",
    "typedoc": "^0.11.1",
    "typescript": "^2.8.1"
  },
  "dependencies": {
    "@natsuki/util": "github:natsukibot/util",
    "discord.js": "github:discordjs/discord.js#master",
    "discord.js-commando": "github:discordjs/Commando#master"
  }
}
