{
  "compilerOptions": {
    "target": "es2017",
    "module": "commonjs",
    "outDir": "./dist",
    "rootDir": "./src",
    "alwaysStrict": true,
    "charset": "utf-8",
    "moduleResolution": "node",
    "noImplicitReturns": true,
    "sourceMap": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "noImplicitAny": true,
    "strictNullChecks": true,
    "strict": true,
    "declaration": true
  },
  "compileOnSave": true
}